{% extends 'base.html' %}
    {% block start %}
        <div class="container">
            <form class="add_doctor"  action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-title">{% if pation_data %}<h4>Update Pations</h4>{% else %}<h4>Add Pations</h4>{% endif %}</div>
              <div class="form-body">
                <div class="row">
                    <input type="hidden" name="category" value="P">
                    <div class="d-flex  flex-column w-50">
                        <label>Frist Name :</label>
                        <input type="text" name="fname" placeholder="Frist Name" value="{% if pation_data %}{{ pation_data.first_name }}{% endif %}" required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Last Name :</label>
                        <input type="text" name="lname" placeholder="Last Name" value="{% if pation_data %}{{ pation_data.last_name }}{% endif %}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex  flex-column w-50">
                        <label>User Name :</label>
                        <input type="text" name="username" placeholder="User Name" value="{% if pation_data %}{{ pation_data.username }}{% endif %}" required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Email :</label>
                        <input type="email" name="email" placeholder="Email" value="{% if pation_data %}{{ pation_data.email }}{% endif %}" required>
                    </div>
                </div>                
                <div class="row">
                    <div class="d-flex  flex-column w-50">
                        <label>Phone Number :</label>
                        <input type="text" name="phone" placeholder="Phone" value="{% if pation_data %}{{ pation_data.phone }}{% endif %}"  required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Select Illness :</label>
                        <select name="lillness" required>
                            <option value="" disabled selected>Select your Illness</option>
                            {% for i_illness in data%}
                                <option value="{{i_illness.lillne_name}}" {% if i_illness.lillne_id == pation_data.lillness.lillne_id %}selected{% endif %}>{{i_illness.lillne_name}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                </div>                
                <div class="row">
                    {% if pation_data %}
                    <div class="row w-50">
                        <input type="radio" name="block" value="False" {% if pation_data.is_active == False %}checked{% endif %}> Block 
                        <input type="radio" name="block" value="True"  {% if pation_data.is_active == True %}checked{% endif %}> UnBlock 
                    </div>
                    <div class="w-50">
                        <img src="http://127.0.0.1:8000/media/{{pation_data.img}}" alt="now" class="w-25"><br>
                    </div>
                    {% else %}
                    <div class="w-50">
                        <label>Password</label>
                        <input type="text" name="password" placeholder="Password" required>
                    </div>
                    <div class="w-50">
                        <label>Re-Password</label>

                        <input type="text" name="repassword" placeholder="Re-Password" required>
                    </div>
                    {% endif %}
                </div>                
                <div class="row">
                    <div class="d-flex  flex-column w-100">
                        <label>Upload Img :</label>
                        <input type="file" name="img" >
                    </div>
                </div>                
                <div class="rule"></div>
                <div class="form-footer">
                  <input type="submit" name="{% if pation_data %}update_pations{% else %}add_pations{% endif %}" value="{% if pation_data %}Update Pations{% else %}Add Pations{% endif %}">
                </div>
              </div>
            </form>
        </div>
    {% endblock %}