{% extends 'base.html' %}
    {% block start %}
        <div class="container">
            <form class="add_doctor"  action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-title">{% if staff_data %}<h4>Update Staff</h4>{% else %}<h4>Add Staff</h4>{% endif %}</div>
              <div class="form-body">
                <div class="row">
                    <input type="hidden" name="category" value="S">
                    <div class="d-flex  flex-column w-50">
                        <label>Frist Name :</label>
                        <input type="text" name="fname" placeholder="Frist Name" value="{% if staff_data %}{{ staff_data.first_name }}{% endif %}" required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Last Name :</label>
                        <input type="text" name="lname" placeholder="Last Name" value="{% if staff_data %}{{ staff_data.last_name }}{% endif %}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex  flex-column w-50">
                        <label>User Name :</label>
                        <input type="text" name="username" placeholder="User Name" value="{% if staff_data %}{{ staff_data.username }}{% endif %}" required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Email :</label>
                        <input type="email" name="email" placeholder="Email" value="{% if staff_data %}{{ staff_data.email }}{% endif %}" required>
                    </div>
                </div>                
                <div class="row">
                    <div class="d-flex  flex-column w-50">
                        <label>Phone Number :</label>
                        <input type="text" name="phone" placeholder="Phone" value="{% if staff_data %}{{ staff_data.phone }}{% endif %}" required>
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Select Illness :</label>
                        <select name="lillness" required>
                            <option value="" disabled selected>Select your Illness</option>
                            {% for i_illness in data%}
                                <option value="{{i_illness.lillne_name}}" {% if i_illness.lillne_id == staff_data.lillness.lillne_id %}selected{% endif %}>{{i_illness.lillne_name}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                </div>                
                <div class="row">
                    {% if staff_data %}
                    <div class="row w-50">
                        <input type="radio" name="block" value="False" {% if staff_data.is_active == False %}checked{% endif %}> Block 
                        <input type="radio" name="block" value="True"  {% if staff_data.is_active == True %}checked{% endif %}> UnBlock 
                    </div>
                    <div class="w-50">
                        <img src="http://127.0.0.1:8000/media/{{staff_data.img}}" alt="now" class="w-25"><br>
                    </div>
                    {% else %}
                    <div class="w-50">
                        <label>Password</label>
                        <input type="text" name="password" placeholder="password" required>
                    </div>
                    <div class="w-50">
                        <label>Re - Password</label>

                        <input type="text" name="repassword" placeholder="REpassword" required>
                    </div>
                    {% endif %}
                </div>                
                <div class="row">
                    <div class="d-flex  flex-column w-50">
                        <label>Upload Img :</label>
                        <input type="file" name="img" >
                    </div>
                    <div class="d-flex  flex-column w-50">
                        <label>Fess :</label>
                        <input type="Number" name="fess" placeholder="Fess" value="{% if staff_data %}{{ staff_data.fess }}{% endif %}" min="0" oninput="validity.valid||(value='');" required>
                    </div>
                </div>                
                <div class="rule"></div>
                <div class="form-footer">
                  <input type="submit"  name="{% if staff_data %}update_Staff{% else %}add_staff{% endif %}" value="{% if staff_data %}Update Staff{% else %}Add Staff{% endif %}">
                </div>
              </div>
            </form>
        </div>
    {% endblock %}
