{% extends 'base.html' %}
    {% block start %}
    <br>
    <h2 class="text-center">Pations List</h2>
    <br>
    <div class="container">
      <table id="example" class="table table-striped" style="width: 100%;">
        <thead>
            <th>No</th>
            <th>img</th>
            <th>id</th>
            <th>firstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Illness</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for i_pations in pations_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="http://127.0.0.1:8000/media/{{i_pations.img}}" alt="now" width="50px" height="50px"></td>
                <td>{{i_pations.id}}</td>
                <td>{{i_pations.first_name}}</td>
                <td>{{i_pations.last_name}}</td>
                <td>{{i_pations.username}}</td>
                <td>{{i_pations.email}}</td>
                <td>{{i_pations.phone}}</td>
                <td>{{i_pations.lillness.lillne_name}}</td>
                <td><a class="text-decoration-none text-dark font-weight-bold" href="update/{{i_pations.id}}">{% if i_pations.is_active == False %}<i class="fa fa-unlock-alt p-3" aria-hidden="true"></i>{%else%}<i class="fa fa-pencil p-3" aria-hidden="true"></i>{%endif%}</a></td>
                    <td><a class="text-decoration-none text-dark font-weight-bold" href="delete/{{i_pations.id}}"><i class="fa fa-trash-o p-3" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}