{% extends 'Desbord.html' %}
{% block Title  %}Doctor Dashboard{% endblock %}
{% block Nameurl %}doctor-Home{% endblock %}
{%  block Name %}Doctor{% endblock %}
{% block main %}
    <div class="container d-flex g_gap w-100">
        <div class="w-75">
            <h4>Staff Info</h4>
            <table id="example-Doctor-Staff" class="table table-striped" style="width:100%">
                <thead>
                    <th>No</th>
                    <th>img</th>
                    <th>id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Illness</th>
                </thead>
                <tbody>
                    {% for i_staff in pation_staff_data %}
                        {% if i_staff.category == 'S' %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="http://127.0.0.1:8000/media/{{i_staff.img}}" alt="now" width="50px"
                                        height="50px"></td>
                                <td>{{i_staff.id}}</td>
                                <td>{{i_staff.username}}</td>
                                <td>{{i_staff.phone}}</td>
                                <td>{{i_staff.lillness.lillne_name}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            <h4>Pation Info</h4>
            <br>
            <table id="example-Doctor-Pation" class="table table-striped" style="width:100%">
                <thead>
                    <th>No</th>
                    <th>img</th>
                    <th>id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Illness</th>
                    <th>Staff_Id</th>
                    <th>Room</th>
                    <th>Bed_No</th>
                    <th>Apply Medicines</th>
                </thead>
                <tbody>
                    {% for i_pations in pation_staff_data %}
                        {% if i_pations.category == 'P' %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="http://127.0.0.1:8000/media/{{i_pations.img}}" alt="now" width="50px"
                                        height="50px"></td>
                                <td>{{i_pations.id}}</td>
                                <td>{{i_pations.username}}</td>
                                <td>{{i_pations.phone}}</td>
                                <td>{{i_pations.lillness.lillne_name}}</td>
                                <td>{{i_pations.staff_id}}</td>
                                <td>{{i_pations.room.roomType}}</td>
                                <td>
                                    {% for i in bed_No %}
                                        {% if i.user_id.id == i_pations.id %}
                                            {{i.user_id.id}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="parent">
                                    {% if i_pations.medicines == ' ' or i_pations.medicines == None  %}
                                        <a href="/apply-medicines/{{i_pations.lillness.lillne_id}}/{{i_pations.id}}" >Medicines</a>
                                    {% else %}  
                                    view Medicines
                                    {% for i in user_medicine_data %}
                                            {% if i_pations.id == i.userId %}
                                                <div class="border child">
                                                    <p class="m-0" ><small>MedicinesName</small>:<b>{{i.medicinesName}}</b></p>
                                                    <p><small>MedicinesQuantity:</small><b>{{i.quantity}}</b></p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w-25">
            <h4>Personal Info</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td>{{request.user.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{request.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td>UserName</td>
                        <td>{{request.user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{request.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{request.user.phone}}</td>
                    </tr>
                    <tr>
                        <td>Illness</td>
                        <td>{{request.user.lillness.lillne_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
